<div class="pull-right">
    <p>&copy; {{ 'now'|date('Y') }} MIT License vonLeeb_pl@PSQD Powered by <a href="https://symfony.com/symfony">Symfony PHP Framework</a> and Gentelella by <a href="https://colorlib.com">Colorlib</a></p>
</div>
<div class="clearfix"></div>
