{% extends 'clean.html.twig' %}


{% block javascripts %}{% include 'default/_min_javascripts.html.twig' %}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        {% include 'common/table_panel.html.twig' %}
    </div>
{% endblock %}